.inputer {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: chartreuse 2px solid;
    margin-left: 10%;
    margin-top: 10px;
    /* далее для текста */
    text-align: left;
    padding: 5px;
    font-size: 30px;
  }

img {
    width: 400px;
    border-radius: 50%;
    margin: 20px;
    float: left;
}
h1 {
    color: blue;
}
h3 {
    color: rgb(88, 8, 8);
}
.select {
    width: 300px;
    height: 50px;
    border-radius: 20px;
    border: chocolate 2px solid;
    margin-top: 10px;
    /* далее для текста */
    text-align: left;
    padding: 5px;
    font-size: 30px;

}

